body{
    font-family: cursive;
    background: linear-gradient(135deg,#f1f5f9, #dbeafe, #cbd5e1);
}

/* statr header */




ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    
}


.maine-header{       
    width: 90%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
    margin: 20px auto;
    color: white;
    background: linear-gradient(135deg,#334155, #475569);
    border-radius: 30px;
    border: 1px solid #807d7d;
    
}

.maine-header .nav-list{
    display: flex;
    padding: 10px;
   align-items: center;
   font-size: 20px;
   gap: 30px;
    transition: all 0.3s;

}

.maine-header .nav-login{
    font-size: large; 
    padding:10px;
    border: 2px solid rgb(136, 120, 120);
    color: white;
    background-color: rgb(59, 58, 58);
    border-radius: 10px;
    transition: all 0.3s;
    width: 100px;
}



.maine-header .header-nav-list{
color: #ffffff;
padding: 13px;
transition: all 0.4s;
}
/* start hover header */
.maine-header .header-nav-list:hover {
    background-color: #616060;
    color: white;
    border-radius: 13px;
}

.maine-header .nav-login:hover{
    transform: translateY(-5px);
    background-color: rgb(88, 87, 87);
}
   


   
  
   
